---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBg+V18fCNVx+Lh4mMkol5BRYe2WF9U6CHcwqOLGG1x7S2CmvmqukOAu/14eJ6+TIUHCsenP9Vx2W8nEKz+HFPsLYZ+EhXLALHe6/c+KJ5pTPOGSJfuTNLWwXVXMUhX+qDIeaR0j/jDQnh4j2eA5THxi5xGY4qHUxOzYumHu10BWFeX1v8P1yO/c6BBkfV0gRH2e6ZlY0ChrK+IQXZ8eFuppLCBazyJu6uwgImaVL218fVFXNFVL6vNbCiWHeAcLJWanRSGZDcq8jjV59atYkP2xokq44cdkBs/UtqdHuhEGDOUNFUbGKWbQq8Q3rLzGFFACqT2qYPBmjjeDWfm0bYK0llUGx+bgUHSFDp0HkMJ7TwXfPlIr2NyofTBaJx0QubGW36ST8Z6xhJelri97F40bASCJPmTbBctlt77j0wzeikKyA9Ilb9JcgVicAn1u7+US02siHs9/dQPH7nvIIHU9RinjcNrlkWKK5DX22PbdmidNYqdjsLkXGT2vGWzjePlYJUfgHpdYspGEyz69d0iRx1qC6trSsgauGSSKC+eV+SQ30oR44I625n4zUIL0xQwBB6+haDmHGTyxTKoIoUv6s3QhvRyPzNotQ92Nhjd/s6W2gSq023WUjvsZOPejhGTCdht1rsW7EGdvAylSkc86NkT7kFY+ak7FWiwqcLkfwPFA1eiaPyYo47zKrX8uLiQqeToP0UpimVl5gmALcPZXL2hccSJ0PCrZrj2imOs7ats2NCZpW+Q
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
