[Unit]
Description=Forgejo
After=network.target network-online.target postgresql.service
Requires=network-online.target
Wants=postgresql.service

[Service]
Type=simple
User={{ forgejo_user }}
Group={{ forgejo_user }}
WorkingDirectory={{ forgejo_home }}
ExecStart=/usr/local/bin/forgejo web --config {{ forgejo_config_dir }}/app.ini
Restart=always
RestartSec=5s
Environment=USER={{ forgejo_user }}
Environment=HOME={{ forgejo_home }}
Environment=GITEA_WORK_DIR={{ forgejo_home }}
LimitNOFILE=524288

[Install]
WantedBy=multi-user.target
