apiVersion: v1
kind: ConfigMap
metadata:
  name: zot-config
  namespace: registry
data:
  config.json: |
    {
      "storage": {
        "rootDirectory": "/var/lib/registry"
      },
      "http": {
        "address": "0.0.0.0",
        "port": "5000"
      },
      "log": {
        "level": "info"
      },
      "extensions": {
        "ui": {
          "enable": true
        },
        "search": {
          "enable": true
        },
        "sync": {
          "enable": true,
          "registries": [
            {
              "urls": ["https://registry-1.docker.io"],
              "onDemand": true,
              "tlsVerify": true,
              "content": [
                {
                  "prefix": "library/**",
                  "destination": "/docker.io/library"
                },
                {
                  "prefix": "**",
                  "destination": "/docker.io"
                }
              ]
            },
            {
              "urls": ["https://ghcr.io"],
              "onDemand": true,
              "pollInterval": "24h",
              "tlsVerify": true,
              "content": [
                {
                  "prefix": "**",
                  "destination": "/ghcr.io"
                }
              ]
            },
            {
              "urls": ["https://lscr.io"],
              "onDemand": true,
              "pollInterval": "24h",
              "tlsVerify": true,
              "content": [
                {
                  "prefix": "**",
                  "destination": "/lscr.io"
                }
              ]
            },
            {
              "urls": ["https://quay.io"],
              "onDemand": true,
              "pollInterval": "24h",
              "tlsVerify": true,
              "content": [
                {
                  "prefix": "**",
                  "destination": "/quay.io"
                }
              ]
            }
          ]
        }
      }
    }
