loki:
  global:
    imageRegistry: ""
  deploymentMode: SingleBinary
  sidecar:
    rules:
      enabled: false
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    limits_config:
      retention_period: 720h
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: local-path
      size: 20Gi
  read:
    replicas: 0
  write:
    replicas: 0
  backend:
    replicas: 0
  gateway:
    enabled: true
    replicas: 1
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false
  minio:
    enabled: false
  test:
    enabled: false
  lokiCanary:
    enabled: false
