{
	email {{ caddy_acme_email }}
}

*.{{ lab_domain }} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	@registry host registry.{{ lab_domain }}
	handle @registry {
		reverse_proxy {{ registry_backend }}
	}

	handle {
		respond "tier0 proxy ok" 200
	}
}
