{
	email {{ caddy_acme_email }}
}

*.{{ lab_domain }} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	@git host git.{{ lab_domain }}
	handle @git {
		reverse_proxy {{ forge_backend }}
	}

	@registry host registry.{{ lab_domain }}
	handle @registry {
		reverse_proxy {{ registry_backend }}
	}

	@pault_api {
		host pault.{{ lab_domain }}
		path /api/* /healthz
	}
	handle @pault_api {
		reverse_proxy {{ pault_api_backend }}
	}

	@pault host pault.{{ lab_domain }}
	handle @pault {
		reverse_proxy {{ pault_web_backend }}
	}

	handle {
		respond "proxy ok" 200
	}
}

{{ headscale_public_host }}, {{ headscale_public_host }}:{{ caddy_public_listen_port }} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	reverse_proxy {{ headscale_backend }}
}
