services:
  wings:
    image: ghcr.io/pelican-dev/wings:latest
    container_name: pelican-wings
    restart: always
    network_mode: host
    tty: true
    environment:
      TZ: America/Toronto
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pelican
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /etc/pelican:/etc/pelican
      - /var/lib/pelican:/var/lib/pelican
      - /var/log/pelican:/var/log/pelican
      - /tmp/pelican:/tmp/pelican
      - /etc/ssl/certs:/etc/ssl/certs:ro
