apiVersion: v1
kind: Service
metadata:
  name: pelican
spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: pelican-wings
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
