MINIO_ROOT_USER={{ pault_minio_root_user }}
MINIO_ROOT_PASSWORD={{ pault_minio_root_password }}
SRC_ENDPOINT=http://{{ hostvars[pault_seed_source].ansible_host }}:{{ hostvars[pault_seed_source].pault_minio_port | default(9000) }}
SRC_ACCESS_KEY={{ hostvars[pault_seed_source].pault_s3_access_key }}
SRC_SECRET_KEY={{ hostvars[pault_seed_source].pault_s3_secret_key }}
SRC_BUCKET={{ hostvars[pault_seed_source].pault_s3_bucket | default('pault') }}
