MC_HOST_local=http://{{ pault_minio_root_user | urlencode | replace('/', '%2F') }}:{{ pault_minio_root_password | urlencode | replace('/', '%2F') }}@minio:9000
MC_HOST_src=http://{{ hostvars[pault_seed_source].pault_s3_readonly_access_key | urlencode | replace('/', '%2F') }}:{{ hostvars[pault_seed_source].pault_s3_readonly_secret_key | urlencode | replace('/', '%2F') }}@{{ hostvars[pault_seed_source].ansible_host }}:{{ hostvars[pault_seed_source].pault_minio_port | default(pault_minio_port) }}
SRC_BUCKET={{ hostvars[pault_seed_source].pault_s3_bucket | default(pault_s3_bucket) }}
