IMPORT_OWNER_EMAIL={{ pault_import_owner_email }}
DATABASE_URL=postgresql://{{ postgresql_user }}:{{ postgresql_password | urlencode | replace('/', '%2F') }}@localhost/{{ postgresql_db }}?host=/var/run/postgresql
S3_INTERNAL_ENDPOINT=http://minio:9000
S3_BUCKET={{ pault_s3_bucket }}
S3_ACCESS_KEY={{ pault_s3_access_key }}
S3_SECRET_KEY={{ pault_s3_secret_key }}
S3_REGION={{ pault_s3_region }}
