[defaults]
inventory = inventory/hosts.yaml
roles_path = roles

host_key_checking = True
interpreter_python = auto_silent
vars_plugins_enabled = host_group_vars, community.sops.sops

callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
display_skipped_hosts = False

[ssh_connection]
pipelining = True