apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  home.server: |
    home.{{ .Values.global.homeDomain }}:53 {
      errors
      cache 30
      template IN A {
        match .*\.home\.{{ .Values.global.homeDomain | replace "." "\\." }}\.$
        answer "{{`{{ .Name }}`}} 60 IN A {{ .Values.global.ingressIP }}"
      }
      template IN A home.{{ .Values.global.homeDomain }} {
        answer "{{`{{ .Name }}`}} 60 IN A {{ .Values.global.ingressIP }}"
      }
      template IN AAAA {
        match .*\.home\.{{ .Values.global.homeDomain | replace "." "\\." }}\.$
        rcode NOERROR
      }
      template IN AAAA home.{{ .Values.global.homeDomain }} {
        rcode NOERROR
      }
    }
