---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-ddns
  namespace: cloudflare
spec:
  encryptedData:
    api-token: AgBbJjjn6nMBOEx1p3W1Nhz41EHEu20u6eo3Lq9hlwkq/fW+v1YFe6WwDaZZZNv5kv5GK8+Mt+m8x4zM7Z6SRMsR7S8cDcxwkw7qNKR/5oLzu2YJS0j4S51HdOuMctFrIn0GqUEB9sKCoA4gSZY8U+8Ki9HGw0KxvFaNEaoPVEAAiTRKxs4KQ5hQFmL7ptk/AWLQiTISzaS+U/nBm4Ob8Uk8pxH/lnM90IkBeh/EcHImCJoN5F1SAaVVt+XagnFxgZdP7XQB5Usa87ZCT6aTpYYIfLdW2ft7NiNDsIAW9VtrXYYFc/oMIwl9HkXUA1LxX/aYRqwdB5Xwr5Rv4mhrlfixh95lNauI+8WiQjBvyiDrh2vOIBlwQtNoPfTUihdi/ZuppwIbNjyDFOATPhlzEzCf0xEYa8Nkwx5qFJaUCtvPD7M9lGuUo/oqqp/t4wRKI/yOxkmDZ/IFnZ5F6trOYYaJwx7f1MV56a3MjMRpD/snmJLaxkWPFodVQ5EAzdSbXtHtapBGJXHc3s3R8QY0V+sxFKwkAau7G3EauwIVWAfogeRuYHhHxuauHCmXYQs+W8116gdcnEtG6tuR8R1ZrfmOhIRxpxCoks9Y6AnqQEqCbd2iRllpToM7cYN0aEVnTle5NdVtQRv3jpgekYE6UC8o4UWOYXak5ZoP4wguT663iNf8MwDR0hUYvdk0YXC9SkCWthWpmrNhYZAv2vkuGd7MNQvgJ+8fpUbVnt5+mRMfTawoDHnUZ7Kb
  template:
    metadata:
      name: cloudflare-ddns
      namespace: cloudflare
